body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
}

.message {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    word-wrap: break-word;
    font-size: 15px;
}

#input-container {
    display: flex;
    border-top: 1px solid #ccc;
}

#message-input {
    flex-grow: 1;
    padding: 5px;
    resize: none;
    overflow-y: auto;
    height: auto;
    max-height: 100px;
}

#send-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
}
